$navbar-height: 11.2rem;
$footer-height: 20.4rem;
$navbar-top-height: 5.6rem;
$navbar-bottom-height: 5.6rem;
$search-width: 30vw;
$mobile-footer-height: 5.6rem;

:root {
  --font-title: "Gill Sans", sans-serif;
  --font-body: system-ui;
  --body-color: #f8f8f8;
  --white: #ffffff;
  --dibble-yellow: #ffca1a;
  --location-field-gray: #eeeeee;
  --unclickable-gray: #bdbcbc;
  --unclickable-gray-divider: rgba(189, 188, 188, 0.3);

  --title-gray: #707070;
  --paragraph-gray: #707070;
  --paragraph-black: #000000;
  --paragraph-white: #fff;
  --paragraph-red: #ff3333;

  --sale-price-red: #ff3333;
  --scroll-gray: rgba(238, 238, 238, 0.7);
  --gray: rgba(112, 112, 112, 1);
  --black: #000000;
  --light-yellow: #fff1bf;
  --label-green: #9bd164;
  --label-blue: #64b1d1;
  --label-purple: #9464d1;
  --error-red: #ff3333;
  --linear-gradient-1: rgb(250, 173, 31);
  --linear-gradient-2: rgb(255, 232, 32);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --dark-color: rgba(0, 0, 0, 0.5);
  --nav-bar-gray: #eeeeee;
  --card-shadow: 0 2px 4px var(--shadow-color);
  --header-top-shadow: 0 -4rem 1px var(--body-color);
  --header-top-shadow: 0 -2rem 0 var(--body-color);
  --pop-up-background: rgba(112, 112, 112, 0.5);
  --pop-up-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.25);
  --scroll-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.15);
  --product-cart-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.1);
  --label-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.25);
  --mobile-footer-shadow: 0 -2px 4px var(--shadow-color);
  --toggle-bg-gradient: linear-gradient(90deg, #faad1f 0%, #ffe820 100%);
  --toggle-shadow: inset 0px 1px 4px 1px rgba(0, 0, 0, 0.2);
  --solid-bottom-shadow: 0 3rem 0 var(--body-color);
  --full-page-modal-shadow: 0px 2px 4px 0px #0000001a;
}

[data-theme="accessibility"] {
  --font-title: OscarFm;
  --font-body: AlmoniDlAAABold;
  --font-body-bold: AlmoniDlAAABlack;
  --body-color: #f8f8f8;
  --white: #ffffff;
  --dibble-yellow: #ffca1a;
  --location-field-gray: #cacaca;
  --unclickable-gray: #a1a0a0;
  --unclickable-gray-divider: rgba(189, 188, 188, 0.3);

  --title-gray: #5f5f5f;
  --paragraph-gray: #5f5f5f;
  --paragraph-black: #000000;
  --paragraph-white: #fff;
  --paragraph-red: #ff0505;

  --sale-price-red: #ff0505;
  --scroll-gray: rgba(238, 238, 238, 0.7);
  --gray: rgba(112, 112, 112, 1);
  --black: #000000;
  --light-yellow: #ffea53;
  --label-green: #84c640;
  --label-blue: #409fc6;
  --label-purple: #7b40c6;
  --error-red: #ff0505;
  --linear-gradient-1: rgb(250, 173, 31);
  --linear-gradient-2: rgb(255, 232, 32);
  --shadow-color: rgba(0, 0, 0, 0.2);
  --dark-color: rgba(0, 0, 0, 0.5);
  --nav-bar-gray: #cacaca;
  --card-shadow: 0 2px 4px var(--shadow-color);
  --header-top-shadow: 0 -4rem 1px var(--body-color);
  --header-top-shadow: 0 -2rem 0 var(--body-color);
  --pop-up-background: rgba(112, 112, 112, 0.5);
  --pop-up-shadow: 4px 4px 10px 2px rgba(0, 0, 0, 0.5);
  --scroll-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.3);
  --product-cart-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.2);
  --label-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.5);
  --toggle-bg-gradient: linear-gradient(90deg, #faad1f 0%, #ffe820 100%);
  --toggle-shadow: inset 0px 1px 4px 1px rgba(0, 0, 0, 0.4);
  --full-page-modal-shadow: 0px 2px 4px 0px #0000001a;
}
